[Unit]
Description=Random wallpaper
Wants=swww.timer

[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/bash /home/alloar/.config/systemd/user/swww/swww.sh
