* {
    border: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
    min-height: 0;
}
window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
    color: #ffffff;
}

#custom-window-title {
    background-color: #2A3239;;
    margin: 0px 0;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 0 4px;    
}
#custom-bluetooth {
	background-color: #2A3239;
	margin-top: 2px;
	font-size: 15px;
	border-radius: 5px;
}
#language {
	background-color: #2A3239;
        font-size: 17px;
	margin-top: 2px;
}
#custom-firefox, #custom-steam, #custom-discord, #custom-telegram-desktop, #custom-alacritty, #custom-youtube-music, #custom-keyboard {
	background-color: #2A3239;
	margin-right: 4px;
	margin-left: 4px;
	border-radius: 5px;
	font-size: 17px;
	margin-top: 2px;
}

#custom-launcher {
    background-color: transparent;
    color: #89b4fa;
    font-size: 20px;
    padding: 0 10px;
    margin: 2px 0;
}


#workspaces {
background-color: #2A3239;;
color: #FFFFFF;
border: 2px solid black;
margin-top: 2px;
border: #2A3239;;
border-radius: 5px; 
}

#workspaces button {
    background-color: #2A3239;;
    color: #FFFFFF;
    margin: 2px;
    padding: 5px;
    background: transparent;
    border: none; /* убираем стандартную рамку */
}

#workspaces button.active {
    color: #FFFF00;
}
#workspaces button:hover {
  color: #2A3239;;
  border: none;
  box-shadow: none;
  transition: none;
}
#temperature {
    background-color: #2A3239;;
    padding: 4px 12px;
    margin: 0px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 2px;
}

#clock{
	background-color: #2A3239;;
	padding: 2px 0;  /* 2 - сверху снизу, 6 - српава, слева*/
	padding-right: 10px;
	margin: 0px 0;
	border-radius: 0px;
	margin-top: 2px;
}
#disk{ 
    background-color: #2A3239;
    padding: 4px 12px; /* 10px сверху, 20px справа, 30px снизу, 40px слева */
    margin: 0px 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 2px;

}
#battery{
    background-color: #2A3239;
    padding: 4px 12px; /* 10px сверху, 20px справа, 30px снизу, 40px слева */
    margin: 0px 0;
    margin-top: 2px;
}
#network{
    background-color: #2A3239;
    padding: 4px 12px; /* 10px сверху, 20px справа, 30px снизу, 40px слева */
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 2px;
}
#pulseaudio {
        background-color: #2A3239;;
        padding: 4px 12px 4px 12px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 2px;
}
#memory {
        background-color: #2A3239;;
        padding: 2px 6px;
        border-radius: 0px;
	margin-top: 2px;
}
#cpu{
        background-color: #2A3239;;
        padding: 4px 10px;
        border-radius: 0px;
	margin-top: 2px;
}
#custom-power {
    background-color: transparent;
    color: #f38ba8;
    font-size: 20px;
    padding: 0 12px;
    margin: 4px 0;
    margin-top: 2px;
}

