[Unit]
Description=Sync Obsidian Vault with github
Wants=git-sync-obsidian.timer

[Service]
Type=simple
ExecStart=/home/%u/.config/systemd/user/git/git.sh
