[Unit]
Description=Random wallpaper
Wants=swww.timer

[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/bash /home/%u/.config/home-manager/config/systemd/bash/swww.sh
